<div class="jewellery_section" style="padding-top: 20px;">
    <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container">
                <h1 class="fashion_taital">Women Sarees</h1>
                <div class="fashion_section_2">
                   <div class="row">
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Blue Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar2.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Rose Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar3.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                            
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Red Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar4.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <h1 class="fashion_taital">Women Sarees</h1>
                <div class="fashion_section_2">
                   <div class="row">
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Cotton Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar5.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#"> Add to Cart</a></div>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Cotten Blend</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar6.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                            
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Silk Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar7.jpg' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container">
                <h1 class="fashion_taital">Women Sarees</h1>
                <div class="fashion_section_2">
                   <div class="row">
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Polister Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar8.webp' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                            
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Green Saree</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar9.webp' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">Cotton</h4>
                            <p class="price_text">Start Price  <span style="color: #262626;">Rs 100</span></p>
                            <div class="jewellery_img"><img style="height: 300px;" src="{% static 'women/images/sar10.webp' %}"></div>
                            <div class="btn_main">
                               <div class="buy_bt"><a href="#">Add to Cart</a></div>
                         
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <a class="carousel-control-prev" href="#jewellery_main_slider" role="button" data-slide="prev">
       <i class="fa fa-angle-left"></i>
       </a>
       <a class="carousel-control-next" href="#jewellery_main_slider" role="button" data-slide="next">
       <i class="fa fa-angle-right"></i>
       </a>
       <div class="loader_main">
          <div class="loader"></div>
       </div>
    </div>
 </div>
    <!--  -->
    <!-- banner section end -->
 </div>