<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <div class="main-border-button">
                                <a style="width: 150px; border-radius: 0px;" class="btn btn-outline-light" href="/fullp"><strong style="color: black;">All Products</strong></a>
                            </div>
                        </div>
                        <img style="height: 535px;" src="{% static 'n/pic7.webp' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content" style="padding-left: 250px;">
                                        <!-- <div class="main-border-button">
                                            <a style="width: 150px; border-radius: 0px;" class="btn btn-outline-light" href="/pro/{{request.user}}"><strong style="color: black;">Account Info</strong></a>
                                        </div> -->
                                    </div>
                                    <img style="height: 535px; width: 620px;" src="{% static 'n/pay-img.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>